@import "tailwindcss";

:root {
  /* Brand Colors */
  --color-primary: #05220b;
  --color-secondary: #134338;
  --color-accent: #16f98a;
  --color-off-white: #f2f0ef;
}

body {
  background: #efefef;
  color: #05220b;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/*Loader Spin Animation */
@keyframes loaderAnim {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}

.animate-loaderAnim {
  animation: loaderAnim 2.5s infinite;
}

.animation-delay {
  animation-delay: -1.25s;
}
